.containerCard{
  width:450px;
  height: 150px;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  border-width: thin;
  display: flex;
  flex-direction: row;
}

.containerSuccess{
  border-radius: 15px 0px 0px 15px;
  width: 35%;
  height: 100%;
  background-color:#62BF4D ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerUser{
  height: 100%;
  width: 65%;
  padding: 15px;
}
